mixin share(data)
  div(class=attributes.parentClass
    class='ya-share2'
    data-copy='hidden'
    data-description='photo'
    data-direction='horizontal'
    data-hashtags='photography'
    data-image=`https://yaz47.github.io/testDETask/img/${data.image}`
    data-lang='en'
    data-limit='3'
    data-popup-direction='top'
    data-services='facebook,twitter,vkontakte'
    data-size='m'
    data-title='Portfolio'
    data-url='https://yaz47.github.io/testDETask/')
