section(class='contact')
  div(class='contact__container container')

    h2(class='contact__title') Hello

    div(class='contact__form-wrapper')

      form(class='contact__form'
        method='POST'
        enctype='multipart/form-data'
        autocomplete='on'
        action='https://echo.htmlacademy.ru')

        div(class='contact__inner-container')

          p(class='contact__text') For business inquiries please use the form below
          p(class='contact__text contact__text--dark contact__text--small') * Required

          ul(class='contact__fieldset')
            li(class='contact__item')
              input(class='contact__input'
                type='text'
                id='name'
                name='name'
                pattern='[\\w\\s]{2,30}'
                title='Name can contain letters and digits from 2 to 30 symbols'
                value='John'
                required)
              label(class='contact__label contact__label--req' for='name') Name
            li(class='contact__item')
              input(class='contact__input'
                type='text'
                id='company'
                name='company'
                pattern='[\\S\\s]{2,100}'
                title='Company name can contain up to 100 symbols'
                autofocus
                required)
              label(class='contact__label contact__label--req' for='company') Company
            li(class='contact__item')
              input(class='contact__input'
                type='email'
                id='email'
                name='email'
                title='E-mail'
                required)
              label(class='contact__label contact__label--req' for='email') E-mail
            li(class='contact__item')
              input(class='contact__input'
                type='tel'
                id='tel'
                name='tel'
                pattern='8-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}'
                title='Phone must be in this format 8-XXX-XXX-XX-XX')
              label(class='contact__label' for='tel') Phone
            li(class='contact__item')
              input(class='contact__input'
                type='text'
                id='subject'
                name='subject'
                pattern='[\\w\\s]{2,30}'
                title='Subject can contain letters and digits from 2 to 50 symbols')
              label(class='contact__label' for='subject') Subject
            li(class='contact__item')
              textarea(class='contact__textarea contact__input'
                id='message'
                name='message'
                rows='2'
                autocomplete='off'
                required) But I must explain to you how all this mistaken idea of denouncing
              label(class='contact__label contact__label--req' for='message') Message

          div(class='contact__policy-wrapper')
            input(class='contact__checkbox-input visually-hidden'
              type='checkbox'
              id='privacy'
              name='privacy'
              checked
              required)
            label(class='contact__checkbox-label' for='privacy')
            p(class='contact__policy-text')
              | I accept
              |
              a(class='contact__police-link' href='https://en.wikipedia.org/wiki/Privacy_policy' target='_blank') Terms&nbsp;and&nbsp;Privacy&nbsp;Policy

          button(class='contact__button' type='submit') Send
